{% extends '::base.html.twig' %}

{% block title %}Diko{% endblock %}

{% block body %}
    <nav class="white" >
	<div class="nav-wrapper">
	    <a href="/" class="brand-logo grey-text">JeuxDeMots / <span class="black-text">Diko</span></a>
	</div>
    </nav>
    <div id="app">
	<div class="row search-field">
	    <div class="container">
		<div class="input-field col s12 m6 offset-m3">
		    <form onsubmit="return false;">
			<input type="text" id="word" class="autocomplete validate" v-model="search">
			<label for="word">Recherche</label>
			<button class="btn waves-effect waves-light center" @click="refreshAll" type="submit" name="action">Rechercher
			    <i class="material-icons right">send</i>
			</button>
		    </form>
		</div>
	    </div>
	</div>
	<div class="section">
	    <div class="container">
		<div class="row title">
		    <div class="col s12 m6 offset-m3 title">
			<h3>${word.charAt(0).toUpperCase() + word.slice(1)} <comp-grammaire :datarow="grammaire" v-if="grammaire.length > 0"></comp-grammaire></h3>
		    </div>
		</div>

		{% set sections = ["definition","association","domain","raffsem","action","carac","contraire","syno","haspart","specif"] %}
		{% for section in sections %}
		    <div class="row">   
			<comp-{{section}} :datarow="{{section}}" v-if="{{section}}.length > 0"></comp-{{section}}>
		    </div>
		{% endfor %}
		<div class="col s12 m6 offset-m3 center">
		    <div v-if="counter > 0" class="preloader-wrapper big active">
			<div class="spinner-layer spinner-blue-only">
			    <div class="circle-clipper left">
				<div class="circle"></div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
{% endblock %}
