{% extends '::base.html.twig' %}

{% block title %}Hello !{% endblock %}
{% block body %}
  <h1>Hello</h1>
  <div class="" id="app">
    ${ titre }
    <test-item></test-item>
    <test-item></test-item>
  </div>
  {{ dump(result) }}
{% endblock %}
